.signUpTitle{
    color: #1F2329;
    text-align: center;
    font-family: "Apple NeoEB";
    font-size: 1.875rem;
    line-height: 2.625rem; /* 140% */
    padding-top: 1.5rem;
    margin-bottom: 4rem;
}

.signUpInfo {
    display: flex;
    width: 11.4375rem;
    height: 0.9375rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.38rem;
    text-align: start;
}

.input {
    display: inline-flex;
    width: 13.375rem;
    height: 1.875rem;
    padding: 0.5rem 0.4375rem 0.4375rem 0.4375rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    color: #262626;
    font-family: "Apple NeoB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
}

.sexBtn {
    /*display: flex;*/
    width: 3.5rem;
    height: 1.875rem;
    padding: 0.5rem 0.4375rem 0.4375rem 0.4375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    color: #666;
    text-align: center;
    font-family: "Apple NeoB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
}

.sexBtnNone {
    /*display: flex;*/
    width: 5.625rem;
    height: 1.875rem;
    padding: 0.5rem 0.9375rem 0.4375rem 0.875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    color: rgba(38, 38, 38, 0.30);
    text-align: center;
    font-family: "Apple NeoB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
}

.chkBox {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
    color: rgba(38, 38, 38, 0.80);
    font-family: "Apple NeoB";
    font-size: 0.5rem;
    line-height: 1.125rem; /* 225% */
    margin: 2.06rem auto 1.56rem;
    text-align: start;
}

.label {
    margin-bottom: 0.38rem;
}
