.login {
    display: flex;
    /*
    justify-content: center;
    align-items: center;
    */
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 30px;
    font-family: "Apple NeoEB";
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: #DBE5EC;
}

.title2 {
    font-size: 30px;
    font-family: "Apple NeoEB";
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: #DBE5EC;

}

.social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}


.input-id {
    margin-bottom: 23px;
}
.input-pw {
    margin-bottom: 23px;
}
.input {
    width: 214px;
    height: 30px;
    font-size: 11px;
    background: #F7F7F7;
    border: none;
    border-radius: 10px;
    padding-left: 12px;
    text-decoration-color: #262626;
    margin-top: 6px;
}


.loginBtn {
    margin-bottom: 8px;
}

.findInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Apple NeoEB";
    font-size: 12px;
    width: auto;
    height: 42px;
    margin-bottom: 17px;
    white-space: nowrap;
}
.signUp {
    height: 15px;
    width: 100%;
}
.find-id {
    height: 15px;
    width: 100%;
}
.find-pw {
    height: 15px;
    width: 100%;
}
.loginInfo {
    font-family: "Apple NeoEB";
    font-size: 18px;
    height: 15px;
    margin-bottom: 34px;
}
.vertical-line {
    width: 1px;
    height: 15px;
    background-color: #262626; /* 세로선 색상 */
}
