.login {
    display: flex;
    /*
    justify-content: center;
    align-items: center;
    */
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.title {
    color: #1F2329;
    text-align: center;
    font-family: "Apple NeoEB";
    font-size: 1.875rem;
    line-height: 2.625rem; /* 140% */
    padding-top: 1.44rem;
    padding-bottom: 1.44rem;
}

.title2 {
    font-size: 30px;
    font-family: "Apple NeoEB";
    background-color: #DBE5EC;
}

.social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.75rem;
}

/*.input-id {
    margin-bottom: 0.81rem;
}*/
.input-pw {
    margin-top: 0.81rem;
    margin-bottom: 1.44rem;
}
.input {
    display: flex;
    width: 13.375rem;
    height: 1.875rem;
    padding: 0.5rem 9.40125rem 0.4375rem 0.5625rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    color: rgba(38, 38, 38, 0.30);
    font-family: "Apple NeoB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
}

.loginBtn {
    margin-top: 1.44rem;
    margin-bottom: 1.37rem;
}

.findInfo {
    text-align: center;
    line-height: 2.625rem; /* 350% */
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.signUp {
    /*width: 100%;*/
    height: 2.625rem;
    border: none;
    background: none;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    margin-right: 1rem;
}
.signUp:hover {
    color: #D15437;
}
.find-id {
    /*width: 100%;*/
    height: 2.625rem;
    border: none;
    background: none;
    color: #666;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.find-id:hover {
    color: #D15437;
}
.find-pw {
    /*width: 100%;*/
    height: 2.625rem;
    border: none;
    background: none;
    color: #666;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    margin-left: 1rem;
}
.find-pw:hover {
    color: #D15437;
}
.loginInfo {
    height: 2.625rem;
    color: #1F2329;
    text-align: center;
    font-family: "Apple NeoEB";
    font-size: 1.125rem;
    line-height: 2.625rem; /* 233.333% */
    margin-top: 1.06rem;
    margin-bottom: 0.44rem;
}
.vertical-line {
    width: 0.0625rem;
    height: 0.9375rem;
    background: rgba(38, 38, 38, 0.30);
}
