
.intro-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.11006rem;
}
.intro-txt {
    white-space: pre-wrap;
    display: flex;
    width: 17.1875rem;
    height: 4.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    color: #262626;
    font-family: "Apple NeoSB";
    font-size: 1rem;
}
.desc-txt {
    white-space: pre-wrap;
    display: flex;
    width: 19.375rem;
    height: 4.6875rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    color: #262626;
    font-family: "Apple NeoSB";
    font-size: 1rem;
}
.intro-cat-icon {
    width: 11.33994rem;
    height: 11.07744rem;
    flex-shrink: 0;
}
.intro-btn {
    display: flex;
    height: 2.5rem;
    width: 15rem;
    /*padding: 0.5625rem 3.875rem 0.5625rem 3.9375rem;*/
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-1, #E9E9EA);
    opacity: 0.95;
    background: var(--Gray-0, #F1F1F1);
    font-family: "Apple NeoB";
}
.intro-btn2 {
    display: flex;
    height: 2.5rem;
    width: 15rem;
    margin-top: -2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-1, #E9E9EA);
    opacity: 0.95;
    background: var(--Primary_100, #FAE7E3);
    font-family: "Apple NeoB";
}


.login-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.11006rem;
}
.login-cat-icon {
    width: 9.75rem;
    height: 8.14575rem;
    flex-shrink: 0;
}
.login-btn-desc {
    white-space: pre-wrap;
    font-size: 0.8rem;
    margin-top: -2rem;
    font-family: "Apple NeoUL";
}
.login-btn {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}


.sendinfo-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.info-txt {
    white-space: pre-wrap;
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: "Apple NeoSB";
    font-size: 1rem;
}
.sendinfo-btn {
    display: flex;
    height: 2.5rem;
    width: 15rem;
    padding: 0.5625rem 3.875rem 0.5625rem 3.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-1, #E9E9EA);
    opacity: 0.95;
    background: var(--Gray-0, #F1F1F1);
    font-family: "Apple NeoB";
}


.info-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.11006rem;
}
.alert-txt {
     display: flex;
     width: 18.1875rem;
     height: 4.6875rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-shrink: 0;
     border-radius: 0.625rem;
     color: #D13F1D;
     font-family: "Apple NeoSB";
     font-size: 0.75rem;
}
.input-name-container {
    display: flex;
    width: 11.4375rem;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 163.636% */
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: start;
}
.info-input {
    display: inline-flex;
    width: 13.375rem;
    height: 1.875rem;
    padding: 0.5rem 0.4375rem 0.4375rem 0.4375rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    color: #262626;
    font-family: "Apple NeoSB";
    font-size: 0.9rem;
    line-height: 1.125rem; /* 163.636% */
}
.fin-btn {
    display: flex;
    height: 2.5rem;
    width: 13.375rem;
    padding: 0.5625rem 3.875rem 0.5625rem 3.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-0, #F1F1F1);
    opacity: 0.95;
    background: var(--Gray-9, #2F3033);
    font-family: "Apple NeoB";
    color: white;
}


.donate-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.11006rem;
}
.donate-txt {
    display: flex;
    width: 19.875rem;
    height: 4.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    color: #262626;
    font-family: "Apple NeoSB";
    font-size: 1rem;
}
.doante-loc-btn {
    display: flex;
    height: 2.5rem;
    width: 18rem;
    margin-bottom: 0.44rem;
    padding: 0.5625rem 3.875rem 0.5625rem 3.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-1, #E9E9EA);
    opacity: 0.95;
    background: var(--Gray-0, #F1F1F1);
    font-family: "Apple NeoSB";
    font-size: 0.85rem;
}
.donate-fin-btn {
    display: flex;
    height: 2.5rem;
    width: 15rem;
    padding: 0.5625rem 3.875rem 0.5625rem 3.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-0, #F1F1F1);
    opacity: 0.95;
    background: var(--Gray-9, #2F3033);
    font-family: "Apple NeoB";
    color: white;
}



.goto-menu-btn {
    display: inline-flex;
    padding: 0.5625rem 2.75rem;
    justify-content: center;
    align-items: center;
    font-family: "Apple NeoB";
    border-radius: 1.35rem;
    border: 1px solid var(--Gray-1, #E9E9EA);
    opacity: 0.95;
    background: var(--Gray-0, #F1F1F1);
}


.donation-container {
    display: flex;
    width: auto;
    padding: 11rem 3.5625rem 15.88rem 3.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.donation-icon-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
}
.donation-icon {
    width: 11.33994rem;
    height: 11.07744rem;
    margin-top: 5rem;
    margin-left: 15rem;
    flex-shrink: 0;
}
.donation-money-icon {
    width: 7.4175rem;
    height: 4.125rem;
    flex-shrink: 0;
    margin-left: 1.31rem;
}
.donate-info-txt {
    display: flex;
    width: 13.25rem;
    height: 4.6875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    color: #262626;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
    text-align: left;
}
.donation-incon-and-txt-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -6rem;
}