.text-container {
    display: inline; /* 또는 display: inline-block; */
    width: 20.625rem;
    height: 3.1875rem;
    margin-left: auto;
    margin-right: auto;
}

.sponsored_amount {
    display: inline-flex;
    width: 5.8125rem;
    height: 3.1875rem;
    padding: 1rem 0.375rem 1.0625rem 0.375rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
    color: #262626;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-right: 0.37rem;
    margin-top: 2.56rem;
    vertical-align: top
}

.amount {
    display: inline-flex;
    width: 14.4375rem;
    height: 3.1875rem;
    padding: 0.8125rem 1.3125rem 0.8125rem 5.5rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
    flex-direction: column;
    justify-content: center;
    /*color: rgba(38, 38, 38, 0.80);*/
    text-align: right;
    font-family: "Apple NeoB";
    font-size: 1rem;
    margin-top: 2.56rem;
}

.payment_method-container {
    display: flex;
    flex-direction: column;
    width: 20.625rem;
    height: 13.4375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;
    margin: 1.38rem auto 0.63rem;
}

.payment_method {
    display: flex;
    width: 5.0625rem;
    height: 1.5625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #262626;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 0.87rem;
    margin-top: 1rem;
}

.chkBox {
    display: flex;
    width: fit-content;
    justify-content: left;
    margin: auto 0 0;
    padding-left: 1.13rem;
    padding-bottom: 1.25rem;
}

.chkBox-label {
    width: 5.0625rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
}

.acceptance-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    justify-content: center;

    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;

    margin-bottom: 1.88rem;
}
.label-agree {

}
.acceptance {
    display: flex;
}

.acceptance-label {
    display: flex;
    height: 1.3125rem;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
    margin-top: 0.88rem;
    margin-left: 1.13rem;
}

.clause1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    width: 20.0625rem;
    height: 1.0625rem;
}

.clause1-text {
    width: 11.4375rem;
    text-align: left;
}

.clause2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    width: 20.0625rem;
    height: 1.0625rem;
}

.clause2-text {
    width: 11.4375rem;
    text-align: left;
}

.clause-btn {
    display: flex;
    width: 1.4375rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(38, 38, 38, 0.80);
    text-align: right;
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    line-height: 1.125rem; /* 180% */
    background: none;
    border: none;
    align-items: end;
    margin-left: auto;
    border: none;
    line-height: 1.125rem; /* 150% */
}
.payment {
    display: flex;
    width: 20.625rem;
    height: 1.875rem;
    padding: 0.5rem 0rem 0.4375rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(38, 38, 38, 0.80);
    color: #F9FAFB;
    text-align: center;
    font-family: "Apple NeoEB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.87rem;
}







/*PaymentScreen1의 css*/
  .payment1 {
      display: flex;
      width: 24.375rem;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }

.match-on {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 90% */
    margin-left: 2.06rem;
    margin-top: 2.06rem;
}

.one {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.06rem;
    margin-top: 1.69rem;
}

.border1 {
    display: flex;
    width: 20.0625rem;
    height: 0.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #F6F8F9;
    margin: 1.31rem 2.12rem 1.37rem 2.19rem;
}

.sponser_field {
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
}
.sponser_title {
    width: fit-content;
    color: black;
    /*color: #D14753;*/
    font-family: "Apple NeoB";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.25rem;
    margin-top: 0.5rem;
}

.select-sponser_field {
    display: inline;
    width: 20.125rem;
    padding: 0.1875rem 0.1875rem 0.25rem 0.625rem;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12.4375rem;
    border: none;
    border-radius: 0.625rem;
    background: #F7F7F7;
    margin: 1.12rem auto 2.38rem;
    color: #000;
    font-family: "Apple NeoM";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

.custom-option {
    border: none;
    background: none;
}

.sponser_amount {
    display: flex;
    color: #000;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
    margin-top: 2.38rem;
}

.sponser_amount-alert {
    display: flex;
    color: #3B3B3B;
    font-family: "Apple NeoL";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 180% */
    margin-left: 2.12rem;
    margin-top: 0.38rem;
}

.sponser_amount-select {
    display: flex;
    flex-direction: column;
    margin: 0.56rem auto 1.13rem;
}

.sponser_amount-select1 {
    display: flex;
    flex-direction: row;
}

.sponser_amount-select2 {
    display: flex;
    flex-direction: row;
    margin-top: 1.13rem;
}

.sponser-btn {
    display: flex;
    width: 5.9375rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    text-align: center;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    margin-right: 1.19rem;
}
.sponser-next-btn-active {
    display: flex;
    width: 20rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    text-align: center;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    background-color: #D14753;
    color: white;
    margin-left: 2.12rem;
    margin-top: 9.94rem;
    margin-bottom: 1.69rem;
}
.sponser-next-btn-unactive {
    display: flex;
    width: 20rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid var(--greyscale-black-60, rgba(38, 38, 38, 0.30));
    text-align: center;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    background: var(--greyscale-black-60, rgba(38, 38, 38, 0.30));
    color: white;
    margin-left: 2.12rem;
    margin-top: 9.94rem;
    margin-bottom: 1.69rem;
}
.sponsered_payment_date {
    display: flex;
    color: #000;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
    margin-bottom: 2.06rem;
}

.sponsered_payment_date_select {
    display: flex;
    flex-direction: row;
    margin-left: 2.12rem;
}

.sponser-input {
    display: inline-flex;
    width: 5.9375rem;
    height: 2.125rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    color: #A1A9AD;
    text-align: center;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

/*PaymentScreen3 css*/
 .payment3 {
      display: flex;
      width: fit-content;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }

.match-on {
    display: flex;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 90% */
    margin-left: 2.06rem;
    margin-top: 2.06rem;
}

.three {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoB";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    margin-left: 2.06rem;
    margin-top: 1.69rem;
}

.amount-container {
    display: flex;
    width: 20.0625rem;
    height: 2.6875rem;
    justify-content: space-between; /* 가로 정렬 및 간격 조절 설정 */
    align-items: center; /* 수직 정렬 설정 */
    margin-left: 2.19rem;
    margin-right: 2.12rem;
}
.date-container {
    display: flex;
    width: 20.0625rem;
    height: 2.6875rem;
    justify-content: space-between; /* 가로 정렬 및 간격 조절 설정 */
    align-items: center; /* 수직 정렬 설정 */
    margin-left: 2.19rem;
    margin-right: 2.12rem;
}
/*.sponsored_amount {
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; !* 112.5% *!
}*/

/*.amount {
    color: #000;
    text-align: right;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; !* 112.5% *!
}*/

.payment_method-container {
    display: flex;
    /*width: fit-content;*/
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 2.19rem;
    margin-top: 1.12rem;
}

.payment_method {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
}

.payment_method-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

.card_payment-container {
    display: flex;
    margin-top: 1.12rem;

}

.account_payment-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    margin-right: auto;
    margin-left: 1rem;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0.625rem;
    border: 1px solid #F1F1F1;
    background: #F7F7F7;

    margin-bottom: 1.88rem;

    color: #1F2329;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
}

.alert {
    display: flex;
    margin-left: 2.31rem;
    margin-top: 3.94rem;
}

.alert-text {
    color: #1F2329;
    font-family: "Apple NeoM";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 180% */
    margin-left: 0.31rem;
}

.alert_list { /*ul*/
    list-style-type: disc;
    padding-left: 2.13rem;
    margin-top: 0.31rem;
}

.alert1, .alert2 { /*ul 속 li*/
    display: flex;
    color: #3B3B3B;
    font-family: "Apple NeoL";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 180% */
}

.border2 {
    width: 20.0625rem;
    height: 0.0625rem;
    flex-shrink: 0;
    background: rgba(38, 38, 38, 0.30);
    margin: 0.56rem 2.19rem 1.12rem 2.12rem;
}

.toggle-container {
    display: flex;
    width: 20.0625rem;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
    margin-left: 2.19rem;
}

.toggle-arrow {
    display: flex;
    width: 1.625rem;
    height: 1.625rem;
    flex-shrink: 0;

    flex-direction: column;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    text-align: right;
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    line-height: 1.125rem; /* 180% */
    background: none;
    border: none;
    align-items: end;
    margin-left: auto;
    border: none;
    line-height: 1.125rem; /* 150% */
}
.toggle-circle {
    margin-right: 0.31rem;
}

.clause-container {
    display: flex;
    flex-direction: column;
}

.clause1-text {
}

.clause2-text {
}
