.text-container {
    display: inline; /* 또는 display: inline-block; */
    width: 20.625rem;
    height: 3.1875rem;
    margin-left: auto;
    margin-right: auto;
}

.sponsored_amount {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
    color: #262626;
    font-family: "Apple SD Gothic Neo";
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    vertical-align: top
}

.amount {
    display: inline-flex;
    width: 14.4375rem;
    height: 3.1875rem;
    justify-content: flex-start;
    flex-shrink: 0;
    border-radius: 0.625rem;
    margin-left: 20px;

    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
    flex-direction: column;
    /*color: rgba(38, 38, 38, 0.80);*/
    text-align: left;
    font-family: "Apple SD Gothic Neo";
    font-size: 14px;
}

.payment_method-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin-left: 20px;

    flex-shrink: 0;
    /*border-radius: 0.625rem;*/
    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
}

.payment_method {
    display: flex;
    width: 5.0625rem;
    height: 1.5625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #262626;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 0.87rem;
    margin-top: 1rem;
}

.chkBox {
    display: flex;
    width: fit-content;
    justify-content: left;
    margin: auto 0 0;
    padding-left: 1.13rem;
    padding-bottom: 1.25rem;
}

.chkBox-label {
    width: 5.0625rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
}

.acceptance-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    justify-content: center;

    border-radius: 0.625rem;
    background: #F7F7F7;
}
.label-agree {
    color: #494A4E;
    /* S1 (디자인)/SemiBold/14 */
    font-family: Apple SD Gothic Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
    vertical-align: top
}
.label-radio {
    color: #494A4E;
    /* S1 (디자인)/SemiBold/14 */
    font-family: Apple SD Gothic Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}
.acceptance {
    display: flex;
}

.acceptance-label {
    display: flex;
    height: 1.3125rem;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
    margin-top: 0.88rem;
    margin-left: 1.13rem;
}

.clause1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    width: 20.0625rem;
    height: 1.0625rem;
}

.clause1-text {
    width: 11.4375rem;
    text-align: left;
}

.clause2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    margin-top: 0.38rem;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    width: 20.0625rem;
    height: 1.0625rem;
}

.clause2-text {
    width: 11.4375rem;
    text-align: left;
}

.clause-btn {
    display: flex;
    width: 1.4375rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: rgba(38, 38, 38, 0.80);
    text-align: right;
    font-family: "Apple NeoB";
    font-size: 0.625rem;
    line-height: 1.125rem; /* 180% */
    background: none;
    border: none;
    /*align-items: end;*/
    margin-left: auto;
    margin-right: 0.2rem;
    border: none;
    line-height: 1.125rem; /* 150% */
}
.payment {
    display: flex;
    width: 20.625rem;
    height: 1.875rem;
    padding: 0.5rem 0rem 0.4375rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(38, 38, 38, 0.80);
    color: #F9FAFB;
    text-align: center;
    font-family: "Apple NeoEB";
    font-size: 0.6875rem;
    line-height: 1.125rem; /* 163.636% */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.87rem;
}







/*PaymentScreen1의 css*/
.payment1 {
    display: flex;
    width: 360px;
    text-align: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.match-on {
    width: fit-content;
    display: flex;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.125rem; /* 90% */
    margin-left: 20px;
    margin-top: 2.06rem;
}

.pay-title {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.06rem;
    margin-top: 1.69rem;
}

.border1 {
    display: flex;
    width: 320px;
    height: 0.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #F6F8F9;
    margin: 20px 20px;
}

.sponser_field {
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
}
.sponser_title {
    width: fit-content;
    color: black;
    /*color: #D14753;*/
    font-family: "Apple NeoB";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.25rem;
    margin-top: 0.5rem;
}

.select-sponser_field {
    display: inline;
    width: 20.125rem;
    padding: 0.1875rem 0.1875rem 0.25rem 0.625rem;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12.4375rem;
    border: none;
    border-radius: 0.625rem;
    background: #F7F7F7;
    margin: 1.12rem auto 2.38rem;
    color: #000;
    font-family: "Apple NeoM";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

.custom-option {
    border: none;
    background: none;
}

.sponser_amount {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
    margin-top: 2.38rem;
}
.sponsor-info-conainer {
    display: flex;
    width: 20.0625rem;
    height: 2.6875rem;
    margin-left: 0rem;
    margin-right: 0rem;
}
.sponser-info {
    display: flex;
    width: 7rem;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-left: 2.12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sponser-info-detail {
    display: flex;
    width: 7rem;
    color: #6F6F70;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-left: 2.12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sponser-receipt-selector-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    width: fit-content;
    align-items: center;
    border-radius: 0.625rem;
    color: #1F2329;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    margin-left: 2.12rem;
}
.sponser-receipt-container {
    display: flex;
    width: 100%;
    color: #6F6F70;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-left: 2.12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sponser_amount-alert {
    display: flex;
    width: fit-content;
    color: #3B3B3B;
    font-family: "Apple NeoL";
    font-size: 0.625rem;
    line-height: 1.125rem; /* 180% */
    margin-left: 2.12rem;
    margin-top: 0.38rem;
}

.sponser_amount-select {
    display: flex;
    flex-direction: column;
    margin: 0.56rem 2.12rem 1.13rem;
    display: flex;
}

.sponser_amount-select1 {
    display: flex;
    flex-direction: row;
}

.sponser_amount-select2 {
    display: flex;
    flex-direction: row;
    margin-top: 1.13rem;
}

.sponser-btn {
    /*display: flex;*/
    /*width: 5.9375rem;*/
    /*height: 2.125rem;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border-radius: 0.625rem;*/
    /*border: 1px solid #D14753;*/
    /*text-align: center;*/
    /*font-family: "Apple NeoL";*/
    /*font-size: 0.75rem;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: 1.125rem; !* 150% *!*/
    /*margin-right: 1.19rem;*/
    display: flex;
    width: 5.9375rem;
    padding: 0.5rem 2.0625rem 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    background: var(--main-primary, #D15437);
    margin-right: 0.5rem;
    color: #D14753;
    text-align: center;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
}
.sponsered_payment_nextpage{
    width: fit-content;
}
.sponser-next-btn-active {
    display: flex;
    margin: 9.94rem 2.12rem 1.69rem;
    width: 18rem;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #1D1F23;
    background-color: #1D1F23;
    color: #FFF;
    text-align: center;
    /* T1 (디자인)/Bold/16 */
    font-family: Apple SD Gothic Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}
.sponser-next-btn-unactive {
    display: flex;
    margin: 9.94rem 2.12rem 1.69rem;
    width: 18rem;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid white;
    background: var(--greyscale-black-60, rgba(38, 38, 38, 0.30));
    color: #FFF;
    text-align: center;
    /* T1 (디자인)/Bold/16 */
    font-family: Apple SD Gothic Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}
.sponsered_payment_date {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 2.12rem;
    margin-bottom: 2.06rem;
}

.sponsered_payment_date_select {
    display: flex;
    flex-direction: row;
    margin: 0.56rem 2.12rem 1.13rem;
    display: flex;
}

.sponser-input {
    display: inline-flex;
    width: 5.9375rem;
    height: 2.125rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    color: #A1A9AD;
    text-align: center;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

/*PaymentScreen3 css*/
 .payment3 {
      display: flex;
      width: fit-content;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }



.three {
    display: flex;
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    margin-left: 20px;
    margin-top: 1.69rem;
}

.amount-container {
    display: flex;
    width: 20.0625rem;
    height: 2.6875rem;
    justify-content: space-between; /* 가로 정렬 및 간격 조절 설정 */
    align-items: center; /* 수직 정렬 설정 */
    margin-left: 2.19rem;
    margin-right: 2.12rem;
}
.date-container {
    display: flex;
    width: 20.0625rem;
    height: 2.6875rem;
    justify-content: space-between; /* 가로 정렬 및 간격 조절 설정 */
    align-items: center; /* 수직 정렬 설정 */
    margin-left: 20px;
}
/*.sponsored_amount {
    width: fit-content;
    color: #000;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; !* 112.5% *!
}*/

/*.amount {
    color: #000;
    text-align: right;
    font-family: "Apple NeoL";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; !* 112.5% *!
}*/


.payment_method-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #1F2329;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

.card_payment-container {
    display: flex;
    margin-top: 1.12rem;
}

.account_payment-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 1.125rem; /* 180% */
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: auto;

    margin-right: auto;

    justify-content: center;
    align-items: flex-start;

    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/

    color: #1F2329;
    font-family: "Apple SD Gothic Neo";
    font-size: 12px;
}
.account-cards-container {
    align-items: center;
    width: 320px;
}
.centered-img {
    display: block;
    margin: 23px auto 0 auto;
    width: 263px;
    height: 150px;
    flex-shrink: 0;
}

.alert_div {
    background: #FAFAFA;
    width: 320px;
    height: 76px;
    display: flex;
    padding: 11px 21px 11px 10px;
    align-items: center;
}

.alert {
    display: flex;
    margin-left: 20px;
}

.alert-text {
    color: #1F2329;
    font-family: "Apple SD Gothic Neo";
    font-size: 12px;
    line-height: 18px; /* 180% */
    margin-left: 0.31rem;
    text-align: left;
    justify-items: center;
}
.card-alert-text {
    color: #797A81;
    text-align: center;
    font-family: "Apple SD Gothic Neo";
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.7px;
    margin: 20px;
}
.success {
    color: green;
}
.error {
    color: #D14753;
}
.alert1 { /*ul 속 li*/
    display: flex;
    color: #B2B2B5;
    text-align: left;
    white-space: pre-wrap;
    /* S1 (디자인)/SemiBold/12 */
    font-family: Apple SD Gothic Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.border2 {
    width: 320px;
    height: 0.0625rem;
    flex-shrink: 0;
    background: #F2F2F2;/*rgba(38, 38, 38, 0.30);*/
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.border3 {
    width: 320px;
    height: 0.0625rem;
    flex-shrink: 0;
    background: #F2F2F2;/*rgba(38, 38, 38, 0.30);*/
    margin-top: 17.5px;
    margin-bottom: 18px;
}


.toggle-container {
    display: flex;
    width: 20.0625rem;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #1F2329;
    background: #F7F7F7;
    font-family: "Apple NeoL";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
    margin-left: 2.19rem;
    margin-bottom: 1.25rem;
}

.toggle-arrow {
    display: flex;
    width: 1.625rem;
    height: 1.625rem;
    flex-shrink: 0;

    flex-direction: column;
    justify-content: center;
    color: rgba(38, 38, 38, 0.80);
    text-align: right;
    font-family: "Apple NeoB";
    line-height: 1.125rem; /* 180% */
    background: none;
    border: none;
    align-items: end;
    margin-left: auto;
}
.toggle-circle {
    margin-right: 0.31rem;
    border-color: #494A4E;
}
.toggle-circle:checked {
    border-color: #494A4E;
}

.clause-container {
    display: flex;
    flex-direction: column;
}

.clause1-text {
}

.clause2-text {
}


/*카드등록 style*/
.register {
    display: flex;
    width: 24.375rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.bank-container {
    display: inline-table; /* 또는 display: inline-block; */
    width: 20.625rem;
    height: 3.1875rem;
}
.submit-title {
    display: inline-flex;
    width: auto;
    height: 3.1875rem;
    padding: 1rem 0.375rem 1.0625rem 0.375rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    /*border: 1px solid #F1F1F1;*/
    /*background: #F7F7F7;*/
    color: #262626;
    font-family: "Apple NeoB";
    font-size: 1rem;
    line-height: 1.125rem; /* 112.5% */
    margin-top: 2.56rem;
    vertical-align: top;
}
.register-radio-btn-container {
    display: flex;
    height: 1rem;
}
.register-radio-container {
    display: flex;
    margin-top: -0.94rem;
}
.register-radio-btn {
    margin-bottom: 1rem;
    margin-right: 0.2rem;
    height: 1rem;
}
.card-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.93938rem;
    flex-shrink: 0;
    justify-content: center;
}
.card-name {
    color: #000;
    text-align: center;
    font-family: "Apple NeoSB";
    font-size: 0.77rem;
    line-height: 0.86625rem; /* 112.5% */
}
.register-title-container {
    display: flex; /* 또는 display: inline-block; */
    width: 20.625rem;
    height: 3.1875rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.06rem;
}
.register-title {
     display: flex;
     width: fit-content;
     color: #000;
     font-family: "Apple NeoB";
     font-size: 1rem;
     font-weight: 700;
     line-height: 1.125rem;
 }
.register-title-info {
    color: var(--greyscale-black-60, rgba(38, 38, 38, 0.30));
    font-family: "Apple NeoB";
    font-size: 0.9375rem;
    line-height: 1.125rem;
    margin-left: 8.69rem;
 }
.register-body-container {
    width: 20.625rem;
    height: 3.1875rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.06rem;
}
.register-body-container2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    width: 20.625rem;
    height: 3.1875rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.06rem;
}
.register-body-title1 {
    display: flex;
    width: 7.5rem;
    color: #000;
    text-align: left;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
    margin-bottom: 0.94rem;
}
.register-body-title2 {
    display: flex;
    width: 8.375rem;
    color: #000;
    text-align: left;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
}
.register-body-title3 {
    display: flex;
    width: 2.5rem;
    color: #000;
    text-align: left;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
    margin-bottom: 0.94rem;
}
.register-body-input1 {
    font-family: "Apple NeoUL";
    font-size: 0.75rem;
    display: inline-flex;
    width: 3.88rem;
    height: 2.125rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #A1A9AD;
    color: #BEBEBE;
    text-align: center;
}
.register-body-input2 {
    font-family: "Apple NeoUL";
    display: flex;
    width: 7.5rem;
    font-size: 0.75rem;
    height: 2.125rem;
    padding: 0.5rem;
    margin-top: 0.94rem;
    border-radius: 0.625rem;
    border: 1px solid #A1A9AD;
    color: #BEBEBE;
    text-align: left;
}
.register-body-input3 {
    font-family: "Apple NeoUL";
    display: flex;
    width: 11.25rem;
    font-size: 0.75rem;
    height: 2.125rem;
    padding: 0.5rem;
    margin-top: 0.94rem;
    border-radius: 0.625rem;
    border: 1px solid #A1A9AD;
    color: #BEBEBE;
    text-align: left;
}
.register-body-input4 {
    font-family: "Apple NeoUL";
    display: flex;
    width: 7.5rem;
    font-size: 0.75rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid #A1A9AD;
    color: #BEBEBE;
    text-align: left;
}
.rightdiv {
    margin-left: 1.25rem;
}

/*todo 결제 완료 화면*/
.complete-container {
    display: inline-block; /* 또는 display: inline-block; */
    width: 20.625rem;
    margin-left: auto;
    margin-right: auto;
}
.complete-txt {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    flex-shrink: 0;
    font-family: "Apple NeoSB";
    font-size: 1.875rem;
    font-weight: 700;
    color: #262626;
    line-height: 2.625rem;
    margin-top: 4.13rem;
    vertical-align: top
}
.complete-body-txt {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    flex-shrink: 0;
    font-family: "Apple NeoEB";
    font-size: 1.25rem;
    color: #262626;
    line-height: 1.875rem;
    margin-top: 4.81rem;
    vertical-align: top
}
.okay-btn {
    display: inline-flex;
    width: 15rem;
    height: 2.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #D14753;
    text-align: center;
    font-family: "Apple NeoSB";
    font-size: 0.75rem;
    line-height: 1.125rem; /* 150% */
    background-color: #D14753;
    color: white;
    margin-top: 8.5rem;
    margin-bottom: 1.5rem;
}
/*슬라이더*/
.slider {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.5s;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slider-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #333;
}

.complete-container {
    position: relative;
}

.complete-slide-txt, .complete-body-slide-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

