.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 애플 폰트 */
@font-face {
  font-family: "Apple NeoB";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "Apple NeoEB";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoEB.ttf");
}
@font-face {
  font-family: "Apple NeoH";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoH.ttf");
}
@font-face {
  font-family: "Apple NeoL";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoL.ttf");
}
@font-face {
  font-family: "Apple NeoM";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "Apple NeoR";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoR.ttf");
}
@font-face {
  font-family: "Apple NeoSB";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoSB.ttf");
}
@font-face {
  font-family: "Apple NeoT";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoT.ttf");
}
@font-face {
  font-family: "Apple NeoUL";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/AppleSDGothicNeoUL.ttf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  height: 3.625rem;
  background-color: #fff;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid #D9D9D9;
}

.App-body {
  background-color: #fff;
  padding-top: 3.625rem;
  min-height: calc(100vh - 16.625rem);
  color: black;
}

.App-footer {

  background-color: #F7F7F7;


  width: 100%;
  height: 16.625rem;
  background-color: #F7F7F7;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(38, 38, 38, 0.30);
  /*
  !*
  width: 100%;
  min-height: 10vh;
  *!
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  !*font-size: calc(10px + 2vmin);*!
  color: black;
  border-top: 1px solid #6B7684;
  text-decoration-color: #6B7684;
  */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.middleInfo {
  text-align: start;
  align-content: center;
  width: 100%;
  textAlign: "left";
}



:root {
  --greyscale-black-80: rgba(20, 20, 20, 0.80);
  --greyscale-black-60: rgba(38, 38, 38, 0.30);
  --main-secondary: #1F2329;
  --greyscale-black-20: #F7F7F7;
  --Gray-0: #F1F1F1;
  --Gray-1: #E9E9EA;
  --Gray-5: #9B9C9F;
  --Gray-9: #2F3033;
  --Primary_100: #FAE7E3;
}